.section_title_box {
  position: relative;
  
  .section_title {
    font-size: 3.4rem;
    font-weight: 300;
    padding-bottom: 40px;
    color: #454f5d;
    line-height: 65px;
  }

  .section_title_sub {
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 300;
    color: rgba(#454f45, .9);
  }
}

.icon_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  img {
    position: relative;

    margin: 0 8px;
    &:nth-child(2) {
      top: 60px;
    }
  }
}


#section_1 {
  background: linear-gradient(rgba(#5f3dc4, .5), rgba(#5f3dc4, 0.1)), url('../../assets/images/5.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .main_info {
    width: 100%;

    h2.main_title {
      color: #fff;
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 100px;
      text-shadow: 3px 3px 7px rgba(0,0,0,.6);

      span {
        font-size: 3.5rem;
      }
    }

    .btn {
      width: 260px;
      padding: 15px 0;
      display: block;
      margin: 0 auto;
      font-size: 1.5rem;
    }

  }
}


#section_2 {
  padding: 240px 0;
  background: #fafafa;
}


#section_3 {
  padding: 240px 0;
  background: #fff;
}

#section_4 {
  padding: 240px 0;
  background: #5f3dc4;

  .section_title_box {
    .section_title {
      color: #fff;
    }

    .section_title_sub {
      color: #fff;
    }
  }
}