.picxy_wrap {
  background: linear-gradient(rgba(#5f3dc4, .9) 80%, rgba(#5f3dc4, .8)), url('../../assets/images/sky1.jpeg') center no-repeat;
  background-size: cover;
  //background: #5f3dc4;
  display: flex;
  align-items: center;
}